<section class="achievements" id="services">
    <div class="container">

       <h2 class="page-title achievements__title">Why choose us</h2>
       <p class="page-subtitle achievements__subtitle">Problems trying to resolve the conflict between the two major realms
       of Classical physics: Newtonian mechanics</p>

       <div class="achievements__inner">
           <div class="achievements__row">
               <div class="achievements__item">
                   <div class="achievements__item-img"><i class="fas fa-users"></i></div>
                   <p class="achievements__item-title">3K</p>
                   <p class="achievements__item-text">Cases done</p>
               </div>
               <div class="achievements__item">
                   <div class="achievements__item-img"><i class="fas fa-user-cog"></i></div>
                   <p class="achievements__item-title">45</p>
                   <p class="achievements__item-text">Happy customers</p>
               </div>
               <div class="achievements__item">
                   <div class="achievements__item-img"><i class="fas fa-award"></i></div>
                   <p class="achievements__item-title">12+</p>
                   <p class="achievements__item-text">Award winning</p>
               </div>
               <div class="achievements__item">
                   <div class="achievements__item-img"><i class="far fa-check-square"></i></div>
                   <p class="achievements__item-title">1.5K</p>
                   <p class="achievements__item-text">Cases done</p>
               </div>
           </div>
       </div>

    </div>
</section>