<section class="action" id="action">
    <div class="container">

        <div class="action__inner">
            <div class="action__text">
                <div class="action__title">Ready to get started?</div>
                <div class="action__subtitle">Sign up or contact us</div>
            </div>
            <div class="action__button">
                <a class="action__btn" href="#">Find gift now</a>
                <a class="action__btn" href="#">How it works</a>
            </div>
        </div>

    </div>
</section>