
<section class="blog" id="blog">
    <div class="container">

        <div class="blog__inner">
            <p class="blog__title">Our Best Blogs Ever</p>
            <p class="blog__text">“Try our blog to find the best tips and tricks to select your gift”</p>
            <div class="blog__card">
                <img class="blog__card-img" src="../images/blog-card.png" alt="Blog image">
                <div class="blog__card-content">
                    <p class="blog__card-author">Mr. John Doe</p>
                    <p class="blog__card-title">The best way to wish your wife</p>
                    <a class="blog__card-btn" href="#">Read More</a>
                </div>
            </div>
        </div>

    </div>
</section>


