<section class="clients">
    <div class="container">

        <div class="clients__inner">
            <div class="clients__row">
                <i class="fab fa-hooli clients__logo"></i>
                <i class="fab fa-lyft clients__logo"></i>
                <i class="fab fa-pied-piper-hat clients__logo"></i>
                <i class="fab fa-stripe clients__logo"></i>
                <i class="fab fa-aws clients__logo"></i>
                <i class="fab fa-reddit-alien clients__logo"></i>
            </div>
            <form class="clients__form">
                <p class="clients__form-title">Subscribe For Latest Newsletter</p>
                <div class="clients__form-input">
                    <input class="clients__form-link" type="email" placeholder="Your email"><button
                        class="form-btn">Subscribe</button>
                </div>
            </form>
        </div>

    </div>
    <span class="clients_bg"></span>
</section>