<section class="contact" id="contact">
    <div class="container">

       <h2 class="page-title contact__page-title">Get In Touch</h2>
       <p class="page-subtitle contact__page-subtitle">Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics</p>
       
       <div class="contact__inner">
               <div class="contact__row">
                   <div class="contact__item">
                       <div class="contact__item-img"><i class="fas fa-phone-alt contact__item-logo"></i></div>
                       <a class="contact__item-link" href="#">ftrixy@example.com</a>
                       <p class="contact__item-title">Get Support</p>
                       <a href="" class="contact__item-btn">Submit Request</a>
                   </div>
                   <div class="contact__item">
                       <div class="contact__item-img"><i class="fas fa-map-marker-alt contact__item-logo"></i></div>
                       <a class="contact__item-link" href="#">ftrixy@example.com</a>
                       <p class="contact__item-title">Get Support</p>
                       <a href="" class="contact__item-btn">Submit Request</a>
                   </div>
                   <div class="contact__item">
                       <div class="contact__item-img"><i class="fas fa-paper-plane contact__item-logo"></i></div>
                       <a class="contact__item-link" href="#">ftrixy@example.com</a>
                       <p class="contact__item-title">Get Support</p>
                       <a href="" class="contact__item-btn">Submit Request</a>
                   </div>
               </div>
       </div>
    </div>
</section>