<section class="intro">
    <div class="container">

        <div class="intro__inner">
            <h1 class="page-title intro__title">Empower your business</h1>
            <h4 class="intro__text">We know how large objects will act,
            but things on a small scale.</h4>
            <div class="intro__button">
                <a class="page__button page__button-first" href="#">Get Quote Now</a>
                <a class="page__button page__button-second" href="#">Learn More</a>
            </div>
            <div class="intro__row">
                <div class="intro__item">
                    <div class="intro__item-img"><i class="fas fa-briefcase intro__logo"></i></div>
                    <h3 class="intro__item-title">Digital Marketing</h3>
                    <p class="intro__item-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="intro__item">
                    <div class="intro__item-img"><i class="fas fa-desktop intro__logo"></i></div>
                    <h3 class="intro__item-title">National top 50 firms</h3>
                    <p class="intro__item-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="intro__item">
                    <div class="intro__item-img"><i class="fas fa-external-link-square-alt intro__logo"></i></div>
                    <h3 class="intro__item-title">Digital Marketing</h3>
                    <p class="intro__item-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

    </div>
</section>