
<section class="offer" id="offer">
    <div class="container">

        <div class="offer__inner">
            <div class="offer__card">
                <p class="offer__card-title">Database to find the gifts for your girlfriend</p>
                <p class="offer__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                <a class="offer__card-btn" href="#">Read More</a>
            </div>
            <div class="offer__card">
                <p class="offer__card-title">How Artificial Intelligence read your mind to find the best gift</p>
                <p class="offer__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                <a class="offer__card-btn" href="#">Read More</a>
            </div>

        </div>

    </div>
</section>