<section class="about" id="about">
    <div class="container">

        <h2 class="page-title about__page-title">We are providing best business service.</h2>
        <p class="page-subtitle about__page-subtitle">Problems trying to resolve the conflict between the two major
            realms of Classical physics: Newtonian mechanics</p>

        <div class="about__inner">

            <div class="about__video"><a class="about__video-btn" data-fancybox
                    href="https://www.youtube.com/watch?v=FrOwDenluXU&ab_channel=PianoRelaxing"><i class="far fa-play-circle"></i></a></div>

            <div class="about__information">
                <p class="about__title">Most trusted in our field</p>
                <p class="about__subtitle">Most calendars are designed for teams. Slate is designed for freelancers who
                    want a simple way to plan their schedule.</p>
                <div class="about__card">
                    <div class="about__item">
                        <div class="about__item-img"><i class="fas fa-child"></i></div>
                        <p class="about__item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="about__item-text">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="about__item">
                        <div class="about__item-img"><i class="fas fa-tachometer-alt"></i></div>
                        <p class="about__item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="about__item-text">Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
