</main>

<footer class="footer-top">
    <div class="container">

        <div class="footer-top__inner">
            <ul class="footer-top__nav">
                <p class="footer-top__nav-title">Company Info</p>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">About Us</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">Carrier</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">We are hiring</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">Blog</a></li>
            </ul>
            <ul class="footer-top__nav">
                <p class="footer-top__nav-title">Legal</p>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">About Us</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">Carrier</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">We are hiring</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">Blog</a></li>
            </ul>
            <ul class="footer-top__nav">
                <p class="footer-top__nav-title">Features</p>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">Business Marketing</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">User Analytic</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">Live Chat</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">Unlimited Support</a></li>
            </ul>
            <ul class="footer-top__nav">
                <p class="footer-top__nav-title">Resources</p>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">IOS & Android</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">Watch a Demo</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">Customers</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#">API</a></li>
            </ul>
            <ul class="footer-top__nav">
                <p class="footer-top__nav-title">Get In Touch</p>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="tel:(480) 555-0103"><i
                            class="fas fa-phone-alt footer-top__nav-logo"></i>(480) 555-0103</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="#"><i
                            class="fas fa-map-marker-alt footer-top__nav-logo"></i>4517 Washington Ave.</a></li>
                <li class="footer-top__nav-item"><a class="footer-top__nav-link" href="mailto:ftrixy@example.com"><i
                            class="fas fa-paper-plane footer-top__nav-logo"></i>ftrixy@example.com</a></li>
            </ul>
        </div>

    </div>
</footer>

<footer class="footer-bottom">
    <div class="container">

        <div class="footer-bottom__inner">
            <p class="footer-bottom__watermark">Made With Love By Figmaland All Right Reserved</p>
            <ul class="footer-bottom__social">
                <li class="footer-bottom__social-item"><a class="footer-bottom__social-link" href="#"><i
                            class="fab fa-facebook-square"></i></a>
                </li>
                <li class="footer-bottom__social-item"><a class="footer-bottom__social-link" href="#"><i
                            class="fab fa-instagram"></i></a></li>
                <li class="footer-bottom__social-item"><a class="footer-bottom__social-link" href="#"><i
                            class="fab fa-twitter"></i></a></li>
                <li class="footer-bottom__social-item"><a class="footer-bottom__social-link" href="#"><i
                            class="fab fa-youtube"></i></a></li>
            </ul>

        </div>

    </div>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://kit.fontawesome.com/4df2a7f9c6.js" crossorigin="anonymous"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/main.min.js"></script>

</body>

</html>