<section class="posts">
    <div class="container">

        <h2 class="page-title posts__page-title">Practice Advice</h2>
        <p class="page-subtitle posts__page-subtitle">Problems trying to resolve the conflict between
            the two major realms of Classical physics: Newtonian mechanics</p>

        <div class="posts__inner">
            <div class="posts__row">
                <div class="posts__item">
                    <p class="posts__item-title">A single source of truth</p>
                    <p class="posts__item-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <img class="posts__item-img" src="images/posts-1.jpg" alt="">
                </div>
                <div class="posts__item">
                    <p class="posts__item-title">Fastest way to organize</p>
                    <p class="posts__item-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <img class="posts__item-img" src="images/posts-2.jpg" alt="">
                </div>
                <div class="posts__item">
                    <p class="posts__item-title">Fastest way to take action</p>
                    <p class="posts__item-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <img class="posts__item-img" src="images/posts-3.jpg" alt="">
                </div>
                <div class="posts__item">
                    <p class="posts__item-title">Work better together</p>
                    <p class="posts__item-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <img class="posts__item-img" src="images/posts-4.jpg" alt="">
                </div>
            </div>
        </div>

    </div>
</section>
